<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".dae" mimeType="text/xml" />
            <mimeMap fileExtension=".model" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
            <mimeMap fileExtension=".mtl" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".woff" mimeType="text/css" />
            <mimeMap fileExtension=".woff2" mimeType="text/css" />
            <mimeMap fileExtension=".dxf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".cxml" mimeType="text/xml" />
            <mimeMap fileExtension=".json" mimeType="text/json" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Server=.;Database=Examination;User ID=sa;Password=enroot" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
